In [4]:
import pandas as pd

In [5]:
data = {
    "Name" : ["Natansh","Dushyant","Aman","Navneet"],
    "Eid" : [75,37,17,76],
    "Age" : [20,19,19,19],
}
df = pd.DataFrame(data)
print(df)

       Name  Eid  Age
0   Natansh   75   20
1  Dushyant   37   19
2      Aman   17   19
3   Navneet   76   19

In [10]:
data = pd.read_csv("/Airline Quality Ratings cleaned 2.csv")
print(data)

            ID  Gender  Age Customer Type Type of Travel         Class  \
0            1    Male   48    First-time       Business      Business
1            2  Female   35     Returning       Business      Business
2            3    Male   41     Returning       Business      Business
3            4    Male   50     Returning       Business      Business
4            5  Female   49     Returning       Business      Business
...        ...     ...  ...           ...            ...           ...
129875  129876    Male   28     Returning       Personal  Economy Plus
129876  129877    Male   41     Returning       Personal  Economy Plus
129877  129878    Male   42     Returning       Personal  Economy Plus
129878  129879    Male   50     Returning       Personal  Economy Plus
129879  129880  Female   20     Returning       Personal  Economy Plus

        Flight Distance  Departure Delay  Arrival Delay  \
0                   821                2              5
1                   821               26             39
2                   853                0              0
3                  1905                0              0
4                  3470                0              1
...                 ...              ...            ...
129875              447                2              3
129876              308                0              0
129877              337                6             14
129878              337               31             22
129879              337                0              0

        Departure and Arrival Time Convenience  ...  Leg Room Service  \
0                                            3  ...                 2
1                                            2  ...                 5
2                                            4  ...                 3
3                                            2  ...                 5
4                                            3  ...                 4
...                                        ...  ...               ...
129875                                       4  ...                 4
129876                                       5  ...                 5
129877                                       5  ...                 4
129878                                       4  ...                 5
129879                                       1  ...                 4

        Cleanliness  Food and Drink  In-flight Service  \
0                 5               5                  5
1                 5               3                  5
2                 5               5                  3
3                 4               4                  5
4                 5               4                  3
...             ...             ...                ...
129875            4               4                  5
129876            2               2                  4
129877            3               3                  4
129878            3               3                  4
129879            2               2                  2

        In-flight Wifi Service  In-flight Entertainment  Baggage Handling  \
0                            3                        5                 5
1                            2                        5                 5
2                            4                        3                 3
3                            2                        5                 5
4                            3                        3                 3
...                        ...                      ...               ...
129875                       4                        4                 4
129876                       3                        2                 5
129877                       2                        3                 5
129878                       5                        3                 5
129879                       3                        2                 1

                   Satisfaction  Satisfied Customers  \
0       Neutral or Dissatisfied                  NaN
1                     Satisfied            Satisfied
2                     Satisfied            Satisfied
3                     Satisfied            Satisfied
4                     Satisfied            Satisfied
...                         ...                  ...
129875  Neutral or Dissatisfied                  NaN
129876  Neutral or Dissatisfied                  NaN
129877  Neutral or Dissatisfied                  NaN
129878                Satisfied            Satisfied
129879  Neutral or Dissatisfied                  NaN

        Neutral or Dissatisfied Customers
0                 Neutral or Dissatisfied
1                                     NaN
2                                     NaN
3                                     NaN
4                                     NaN
...                                   ...
129875            Neutral or Dissatisfied
129876            Neutral or Dissatisfied
129877            Neutral or Dissatisfied
129878                                NaN
129879            Neutral or Dissatisfied

[129880 rows x 26 columns]

In [9]:
excelData = pd.read_excel("/Travel-Expense-Calculator.xlsx")
print(excelData.head(10))

   Unnamed: 0 Unnamed: 1          Unnamed: 2           Unnamed: 3 Unnamed: 4  \
0         NaN        NaN                 NaN                  NaN        NaN
1         NaN        NaN     Employee Name:              John Doe        NaN
2         NaN        NaN                 NaN                  NaN        NaN
3         NaN        NaN       Employee ID:               JD12345        NaN
4         NaN        NaN                 NaN                  NaN        NaN
5         NaN        NaN         Department:            Marketing        NaN
6         NaN        NaN                 NaN                  NaN        NaN
7         NaN        NaN  Travel Start Date:  2050-06-15 00:00:00        NaN
8         NaN        NaN                 NaN                  NaN        NaN
9         NaN        NaN   Travel End Date:   2050-06-20 00:00:00        NaN

   Unnamed: 5 Unnamed: 6                 Unnamed: 7 Unnamed: 8  Unnamed: 9  \
0         NaN        NaN                        NaN        NaN         NaN
1         NaN        NaN  TRAVEL EXPENSE CALCULATOR        NaN         NaN
2         NaN        NaN                        NaN        NaN         NaN
3         NaN        NaN                        NaN        NaN         NaN
4         NaN        NaN                        NaN        NaN         NaN
5         NaN        NaN                        NaN        NaN         NaN
6         NaN        NaN                        NaN        NaN         NaN
7         NaN        NaN                        NaN       1825         NaN
8         NaN        NaN                        NaN        NaN         NaN
9         NaN        NaN                        NaN        NaN         NaN

   ... Unnamed: 11 Unnamed: 12 Unnamed: 13  Unnamed: 14 Unnamed: 15  \
0  ...         NaN         NaN         NaN          NaN         NaN
1  ...         NaN         NaN         NaN          NaN         NaN
2  ...         NaN         NaN         NaN          NaN         NaN
3  ...         NaN         NaN         NaN          NaN         NaN
4  ...         NaN         NaN         NaN          NaN         NaN
5  ...         NaN         NaN         NaN          NaN         NaN
6  ...         NaN         NaN         NaN          NaN         NaN
7  ...         NaN         NaN         NaN         5000         NaN
8  ...         NaN         NaN         NaN          NaN         NaN
9  ...         NaN         NaN         NaN          NaN         NaN

  Unnamed: 16 Unnamed: 17  Unnamed: 18 Unnamed: 19 Unnamed: 20
0         NaN         NaN          NaN         NaN         NaN
1         NaN         NaN          NaN         NaN         NaN
2         NaN         NaN          NaN         NaN         NaN
3         NaN         NaN          NaN         NaN         NaN
4         NaN         NaN          NaN         NaN         NaN
5         NaN         NaN          NaN         NaN         NaN
6         NaN         NaN          NaN         NaN         NaN
7         NaN         NaN          NaN         NaN         NaN
8         NaN         NaN          NaN         NaN         NaN
9         NaN         NaN          NaN         NaN         NaN

[10 rows x 21 columns]

In [11]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129880 entries, 0 to 129879
Data columns (total 26 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   ID                                      129880 non-null  int64
 1   Gender                                  129880 non-null  object
 2   Age                                     129880 non-null  int64
 3   Customer Type                           129880 non-null  object
 4   Type of Travel                          129880 non-null  object
 5   Class                                   129880 non-null  object
 6   Flight Distance                         129880 non-null  int64
 7   Departure Delay                         129880 non-null  int64
 8   Arrival Delay                           129880 non-null  int64
 9   Departure and Arrival Time Convenience  129880 non-null  int64
 10  Ease of Online Booking                  129880 non-null  int64
 11  Check-in Service                        129880 non-null  int64
 12  Online Boarding                         129880 non-null  int64
 13  Gate Location                           129880 non-null  int64
 14  On-board Service                        129880 non-null  int64
 15  Seat Comfort                            129880 non-null  int64
 16  Leg Room Service                        129880 non-null  int64
 17  Cleanliness                             129880 non-null  int64
 18  Food and Drink                          129880 non-null  int64
 19  In-flight Service                       129880 non-null  int64
 20  In-flight Wifi Service                  129880 non-null  int64
 21  In-flight Entertainment                 129880 non-null  int64
 22  Baggage Handling                        129880 non-null  int64
 23  Satisfaction                            129880 non-null  object
 24  Satisfied Customers                     56428 non-null   object
 25  Neutral or Dissatisfied Customers       73452 non-null   object
dtypes: int64(19), object(7)
memory usage: 25.8+ MB
None

In [23]:
print(excelData.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   0 non-null      float64
 1   Unnamed: 1   1 non-null      object
 2   Unnamed: 2   14 non-null     object
 3   Unnamed: 3   9 non-null      object
 4   Unnamed: 4   3 non-null      object
 5   Unnamed: 5   0 non-null      float64
 6   Unnamed: 6   6 non-null      object
 7   Unnamed: 7   4 non-null      object
 8   Unnamed: 8   6 non-null      object
 9   Unnamed: 9   0 non-null      float64
 10  Unnamed: 10  9 non-null      object
 11  Unnamed: 11  3 non-null      object
 12  Unnamed: 12  4 non-null      object
 13  Unnamed: 13  0 non-null      float64
 14  Unnamed: 14  12 non-null     object
 15  Unnamed: 15  6 non-null      object
 16  Unnamed: 16  7 non-null      object
 17  Unnamed: 17  0 non-null      float64
 18  Unnamed: 18  9 non-null      object
 19  Unnamed: 19  7 non-null      object
 20  Unnamed: 20  9 non-null      object
dtypes: float64(5), object(16)
memory usage: 10.5+ KB
None

In [12]:
print(data.describe())

                  ID            Age  Flight Distance  Departure Delay  \
count  129880.000000  129880.000000    129880.000000    129880.000000
mean    64940.500000      39.427957      1190.316392        14.713713
std     37493.270818      15.119360       997.452477        38.071126
min         1.000000       7.000000        31.000000         0.000000
25%     32470.750000      27.000000       414.000000         0.000000
50%     64940.500000      40.000000       844.000000         0.000000
75%     97410.250000      51.000000      1744.000000        12.000000
max    129880.000000      85.000000      4983.000000      1592.000000

       Arrival Delay  Departure and Arrival Time Convenience  \
count  129880.000000                           129880.000000
mean       15.045465                                3.057599
std        38.416353                                1.526741
min         0.000000                                0.000000
25%         0.000000                                2.000000
50%         0.000000                                3.000000
75%        13.000000                                4.000000
max      1584.000000                                5.000000

       Ease of Online Booking  Check-in Service  Online Boarding  \
count           129880.000000     129880.000000    129880.000000
mean                 2.756876          3.306267         3.252633
std                  1.401740          1.266185         1.350719
min                  0.000000          0.000000         0.000000
25%                  2.000000          3.000000         2.000000
50%                  3.000000          3.000000         3.000000
75%                  4.000000          4.000000         4.000000
max                  5.000000          5.000000         5.000000

       Gate Location  On-board Service   Seat Comfort  Leg Room Service  \
count  129880.000000     129880.000000  129880.000000     129880.000000
mean        2.976925          3.383023       3.441361          3.350878
std         1.278520          1.287099       1.319289          1.316252
min         0.000000          0.000000       0.000000          0.000000
25%         2.000000          2.000000       2.000000          2.000000
50%         3.000000          4.000000       4.000000          4.000000
75%         4.000000          4.000000       5.000000          4.000000
max         5.000000          5.000000       5.000000          5.000000

         Cleanliness  Food and Drink  In-flight Service  \
count  129880.000000   129880.000000      129880.000000
mean        3.286326        3.204774           3.642193
std         1.313682        1.329933           1.176669
min         0.000000        0.000000           0.000000
25%         2.000000        2.000000           3.000000
50%         3.000000        3.000000           4.000000
75%         4.000000        4.000000           5.000000
max         5.000000        5.000000           5.000000

       In-flight Wifi Service  In-flight Entertainment  Baggage Handling
count           129880.000000            129880.000000     129880.000000
mean                 2.728696                 3.358077          3.632114
std                  1.329340                 1.334049          1.180025
min                  0.000000                 0.000000          1.000000
25%                  2.000000                 2.000000          3.000000
50%                  3.000000                 4.000000          4.000000
75%                  4.000000                 4.000000          5.000000
max                  5.000000                 5.000000          5.000000

In [17]:
print(data["ID"].duplicated().sum())

0

In [18]:
print(data)

            ID  Gender  Age Customer Type Type of Travel         Class  \
0            1    Male   48    First-time       Business      Business
1            2  Female   35     Returning       Business      Business
2            3    Male   41     Returning       Business      Business
3            4    Male   50     Returning       Business      Business
4            5  Female   49     Returning       Business      Business
...        ...     ...  ...           ...            ...           ...
129875  129876    Male   28     Returning       Personal  Economy Plus
129876  129877    Male   41     Returning       Personal  Economy Plus
129877  129878    Male   42     Returning       Personal  Economy Plus
129878  129879    Male   50     Returning       Personal  Economy Plus
129879  129880  Female   20     Returning       Personal  Economy Plus

        Flight Distance  Departure Delay  Arrival Delay  \
0                   821                2              5
1                   821               26             39
2                   853                0              0
3                  1905                0              0
4                  3470                0              1
...                 ...              ...            ...
129875              447                2              3
129876              308                0              0
129877              337                6             14
129878              337               31             22
129879              337                0              0

        Departure and Arrival Time Convenience  ...  Leg Room Service  \
0                                            3  ...                 2
1                                            2  ...                 5
2                                            4  ...                 3
3                                            2  ...                 5
4                                            3  ...                 4
...                                        ...  ...               ...
129875                                       4  ...                 4
129876                                       5  ...                 5
129877                                       5  ...                 4
129878                                       4  ...                 5
129879                                       1  ...                 4

        Cleanliness  Food and Drink  In-flight Service  \
0                 5               5                  5
1                 5               3                  5
2                 5               5                  3
3                 4               4                  5
4                 5               4                  3
...             ...             ...                ...
129875            4               4                  5
129876            2               2                  4
129877            3               3                  4
129878            3               3                  4
129879            2               2                  2

        In-flight Wifi Service  In-flight Entertainment  Baggage Handling  \
0                            3                        5                 5
1                            2                        5                 5
2                            4                        3                 3
3                            2                        5                 5
4                            3                        3                 3
...                        ...                      ...               ...
129875                       4                        4                 4
129876                       3                        2                 5
129877                       2                        3                 5
129878                       5                        3                 5
129879                       3                        2                 1

                   Satisfaction  Satisfied Customers  \
0       Neutral or Dissatisfied                  NaN
1                     Satisfied            Satisfied
2                     Satisfied            Satisfied
3                     Satisfied            Satisfied
4                     Satisfied            Satisfied
...                         ...                  ...
129875  Neutral or Dissatisfied                  NaN
129876  Neutral or Dissatisfied                  NaN
129877  Neutral or Dissatisfied                  NaN
129878                Satisfied            Satisfied
129879  Neutral or Dissatisfied                  NaN

        Neutral or Dissatisfied Customers
0                 Neutral or Dissatisfied
1                                     NaN
2                                     NaN
3                                     NaN
4                                     NaN
...                                   ...
129875            Neutral or Dissatisfied
129876            Neutral or Dissatisfied
129877            Neutral or Dissatisfied
129878                                NaN
129879            Neutral or Dissatisfied

[129880 rows x 26 columns]

In [19]:
print(data.isnull().sum())

ID                                            0
Gender                                        0
Age                                           0
Customer Type                                 0
Type of Travel                                0
Class                                         0
Flight Distance                               0
Departure Delay                               0
Arrival Delay                                 0
Departure and Arrival Time Convenience        0
Ease of Online Booking                        0
Check-in Service                              0
Online Boarding                               0
Gate Location                                 0
On-board Service                              0
Seat Comfort                                  0
Leg Room Service                              0
Cleanliness                                   0
Food and Drink                                0
In-flight Service                             0
In-flight Wifi Service                        0
In-flight Entertainment                       0
Baggage Handling                              0
Satisfaction                                  0
Satisfied Customers                       73452
Neutral or Dissatisfied Customers         56428
dtype: int64

In [31]:
import numpy as np
data["Satisfied Customers"] = data["Satisfied Customers"].replace(np.nan, "UnSatisfied")

In [30]:
print(data.isnull().sum())

ID                                            0
Gender                                        0
Age                                           0
Customer Type                                 0
Type of Travel                                0
Class                                         0
Flight Distance                               0
Departure Delay                               0
Arrival Delay                                 0
Departure and Arrival Time Convenience        0
Ease of Online Booking                        0
Check-in Service                              0
Online Boarding                               0
Gate Location                                 0
On-board Service                              0
Seat Comfort                                  0
Leg Room Service                              0
Cleanliness                                   0
Food and Drink                                0
In-flight Service                             0
In-flight Wifi Service                        0
In-flight Entertainment                       0
Baggage Handling                              0
Satisfaction                                  0
Satisfied Customers                           0
Neutral or Dissatisfied Customers         56428
Age Category                                  0
dtype: int64

In [32]:
print(data.head(20))

    ID  Gender  Age Customer Type Type of Travel     Class  Flight Distance  \
0    1    Male   48    First-time       Business  Business              821
1    2  Female   35     Returning       Business  Business              821
2    3    Male   41     Returning       Business  Business              853
3    4    Male   50     Returning       Business  Business             1905
4    5  Female   49     Returning       Business  Business             3470
5    6    Male   43     Returning       Business  Business             3788
6    7    Male   43     Returning       Business  Business             1963
7    8  Female   60     Returning       Business  Business              853
8    9    Male   50     Returning       Business  Business             2607
9   10  Female   38     Returning       Business  Business             2822
10  11  Female   28    First-time       Business  Business              821
11  12  Female   27    First-time       Business  Business              421
12  13    Male   24    First-time       Business   Economy              453
13  14    Male    9     Returning       Personal  Business              853
14  15    Male   52     Returning       Personal   Economy              853
15  16    Male   70     Returning       Personal   Economy              821
16  17  Female   48     Returning       Personal   Economy              821
17  18  Female   61     Returning       Personal   Economy              821
18  19  Female   11     Returning       Personal   Economy              853
19  20  Female   42     Returning       Personal   Economy              821

    Departure Delay  Arrival Delay  Departure and Arrival Time Convenience  \
0                 2              5                                       3
1                26             39                                       2
2                 0              0                                       4
3                 0              0                                       2
4                 0              1                                       3
5                 0              0                                       4
6                 0              0                                       3
7                 0              3                                       3
8                 0              0                                       1
9                13              0                                       2
10                0              5                                       1
11               20             21                                       2
12               16             30                                       2
13               68             76                                       5
14                0              0                                       4
15                0              0                                       5
16                0              0                                       3
17                0              0                                       5
18                0              0                                       5
19                4              0                                       3

    ...  Cleanliness  Food and Drink  In-flight Service  \
0   ...            5               5                  5
1   ...            5               3                  5
2   ...            5               5                  3
3   ...            4               4                  5
4   ...            5               4                  3
5   ...            3               3                  4
6   ...            4               5                  5
7   ...            4               4                  3
8   ...            3               3                  4
9   ...            4               2                  5
10  ...            2               2                  4
11  ...            1               1                  3
12  ...            5               5                  4
13  ...            5               5                  5
14  ...            2               2                  5
15  ...            5               5                  5
16  ...            2               1                  5
17  ...            1               4                  5
18  ...            5               5                  5
19  ...            3               1                  1

    In-flight Wifi Service  In-flight Entertainment  Baggage Handling  \
0                        3                        5                 5
1                        2                        5                 5
2                        4                        3                 3
3                        2                        5                 5
4                        3                        3                 3
5                        4                        4                 4
6                        3                        5                 5
7                        4                        3                 3
8                        4                        4                 4
9                        2                        5                 5
10                       1                        2                 3
11                       1                        1                 4
12                       2                        5                 4
13                       1                        5                 4
14                       2                        2                 5
15                       2                        5                 4
16                       2                        5                 5
17                       2                        5                 5
18                       3                        5                 4
19                       3                        1                 1

               Satisfaction  Satisfied Customers  \
0   Neutral or Dissatisfied            Satisfied
1                 Satisfied            Satisfied
2                 Satisfied            Satisfied
3                 Satisfied            Satisfied
4                 Satisfied            Satisfied
5                 Satisfied            Satisfied
6                 Satisfied            Satisfied
7                 Satisfied            Satisfied
8   Neutral or Dissatisfied            Satisfied
9                 Satisfied            Satisfied
10  Neutral or Dissatisfied            Satisfied
11  Neutral or Dissatisfied            Satisfied
12  Neutral or Dissatisfied            Satisfied
13  Neutral or Dissatisfied            Satisfied
14  Neutral or Dissatisfied            Satisfied
15  Neutral or Dissatisfied            Satisfied
16  Neutral or Dissatisfied            Satisfied
17  Neutral or Dissatisfied            Satisfied
18  Neutral or Dissatisfied            Satisfied
19  Neutral or Dissatisfied            Satisfied

    Neutral or Dissatisfied Customers  Age Category
0             Neutral or Dissatisfied         Adult
1                                 NaN         Adult
2                                 NaN         Adult
3                                 NaN         Adult
4                                 NaN         Adult
5                                 NaN         Adult
6                                 NaN         Adult
7                                 NaN         Adult
8             Neutral or Dissatisfied         Adult
9                                 NaN         Adult
10            Neutral or Dissatisfied         Adult
11            Neutral or Dissatisfied         Adult
12            Neutral or Dissatisfied         Adult
13            Neutral or Dissatisfied         Young
14            Neutral or Dissatisfied         Adult
15            Neutral or Dissatisfied         Adult
16            Neutral or Dissatisfied         Adult
17            Neutral or Dissatisfied         Adult
18            Neutral or Dissatisfied         Young
19            Neutral or Dissatisfied         Adult

[20 rows x 27 columns]

In [33]:
data.loc[(data["Age"]>18), "Age Category"] = "Adult"
data.loc[(data["Age"] <= 18), "Age Category"] = "Young"
print(data.head(30))

    ID  Gender  Age Customer Type Type of Travel         Class  \
0    1    Male   48    First-time       Business      Business
1    2  Female   35     Returning       Business      Business
2    3    Male   41     Returning       Business      Business
3    4    Male   50     Returning       Business      Business
4    5  Female   49     Returning       Business      Business
5    6    Male   43     Returning       Business      Business
6    7    Male   43     Returning       Business      Business
7    8  Female   60     Returning       Business      Business
8    9    Male   50     Returning       Business      Business
9   10  Female   38     Returning       Business      Business
10  11  Female   28    First-time       Business      Business
11  12  Female   27    First-time       Business      Business
12  13    Male   24    First-time       Business       Economy
13  14    Male    9     Returning       Personal      Business
14  15    Male   52     Returning       Personal       Economy
15  16    Male   70     Returning       Personal       Economy
16  17  Female   48     Returning       Personal       Economy
17  18  Female   61     Returning       Personal       Economy
18  19  Female   11     Returning       Personal       Economy
19  20  Female   42     Returning       Personal       Economy
20  21  Female   14     Returning       Personal       Economy
21  22  Female   70     Returning       Personal       Economy
22  23  Female   56     Returning       Personal       Economy
23  24    Male   77     Returning       Business  Economy Plus
24  25    Male   51     Returning       Business      Business
25  26    Male   47     Returning       Business      Business
26  27    Male   50     Returning       Business      Business
27  28    Male   58     Returning       Business      Business
28  29    Male   40     Returning       Business      Business
29  30    Male   48     Returning       Business      Business

    Flight Distance  Departure Delay  Arrival Delay  \
0               821                2              5
1               821               26             39
2               853                0              0
3              1905                0              0
4              3470                0              1
5              3788                0              0
6              1963                0              0
7               853                0              3
8              2607                0              0
9              2822               13              0
10              821                0              5
11              421               20             21
12              453               16             30
13              853               68             76
14              853                0              0
15              821                0              0
16              821                0              0
17              821                0              0
18              853                0              0
19              821                4              0
20              853               12              1
21              853                0              0
22              821                0              0
23              821                0              0
24             3460                0              2
25             1676                0             15
26             2168                6             24
27             2867                0              0
28             3734                0             52
29             3088                0             12

    Departure and Arrival Time Convenience  ...  Cleanliness  Food and Drink  \
0                                        3  ...            5               5
1                                        2  ...            5               3
2                                        4  ...            5               5
3                                        2  ...            4               4
4                                        3  ...            5               4
5                                        4  ...            3               3
6                                        3  ...            4               5
7                                        3  ...            4               4
8                                        1  ...            3               3
9                                        2  ...            4               2
10                                       1  ...            2               2
11                                       2  ...            1               1
12                                       2  ...            5               5
13                                       5  ...            5               5
14                                       4  ...            2               2
15                                       5  ...            5               5
16                                       3  ...            2               1
17                                       5  ...            1               4
18                                       5  ...            5               5
19                                       3  ...            3               1
20                                       1  ...            4               4
21                                       4  ...            4               2
22                                       4  ...            4               3
23                                       5  ...            4               4
24                                       3  ...            4               2
25                                       4  ...            5               5
26                                       3  ...            4               2
27                                       5  ...            5               5
28                                       4  ...            3               2
29                                       4  ...            3               3

    In-flight Service  In-flight Wifi Service  In-flight Entertainment  \
0                   5                       3                        5
1                   5                       2                        5
2                   3                       4                        3
3                   5                       2                        5
4                   3                       3                        3
5                   4                       4                        4
6                   5                       3                        5
7                   3                       4                        3
8                   4                       4                        4
9                   5                       2                        5
10                  4                       1                        2
11                  3                       1                        1
12                  4                       2                        5
13                  5                       1                        5
14                  5                       2                        2
15                  5                       2                        5
16                  5                       2                        5
17                  5                       2                        5
18                  5                       3                        5
19                  1                       3                        1
20                  3                       3                        4
21                  1                       1                        1
22                  5                       4                        5
23                  2                       4                        4
24                  5                       3                        5
25                  5                       4                        5
26                  5                       3                        5
27                  3                       0                        3
28                  5                       4                        5
29                  4                       4                        4

    Baggage Handling             Satisfaction  Satisfied Customers  \
0                  5  Neutral or Dissatisfied            Satisfied
1                  5                Satisfied            Satisfied
2                  3                Satisfied            Satisfied
3                  5                Satisfied            Satisfied
4                  3                Satisfied            Satisfied
5                  4                Satisfied            Satisfied
6                  5                Satisfied            Satisfied
7                  3                Satisfied            Satisfied
8                  4  Neutral or Dissatisfied            Satisfied
9                  5                Satisfied            Satisfied
10                 3  Neutral or Dissatisfied            Satisfied
11                 4  Neutral or Dissatisfied            Satisfied
12                 4  Neutral or Dissatisfied            Satisfied
13                 4  Neutral or Dissatisfied            Satisfied
14                 5  Neutral or Dissatisfied            Satisfied
15                 4  Neutral or Dissatisfied            Satisfied
16                 5  Neutral or Dissatisfied            Satisfied
17                 5  Neutral or Dissatisfied            Satisfied
18                 4  Neutral or Dissatisfied            Satisfied
19                 1  Neutral or Dissatisfied            Satisfied
20                 2  Neutral or Dissatisfied            Satisfied
21                 1  Neutral or Dissatisfied            Satisfied
22                 5  Neutral or Dissatisfied            Satisfied
23                 3  Neutral or Dissatisfied            Satisfied
24                 5                Satisfied            Satisfied
25                 4                Satisfied            Satisfied
26                 5                Satisfied            Satisfied
27                 3                Satisfied            Satisfied
28                 5                Satisfied            Satisfied
29                 4                Satisfied            Satisfied

    Neutral or Dissatisfied Customers  Age Category
0             Neutral or Dissatisfied         Adult
1                                 NaN         Adult
2                                 NaN         Adult
3                                 NaN         Adult
4                                 NaN         Adult
5                                 NaN         Adult
6                                 NaN         Adult
7                                 NaN         Adult
8             Neutral or Dissatisfied         Adult
9                                 NaN         Adult
10            Neutral or Dissatisfied         Adult
11            Neutral or Dissatisfied         Adult
12            Neutral or Dissatisfied         Adult
13            Neutral or Dissatisfied         Young
14            Neutral or Dissatisfied         Adult
15            Neutral or Dissatisfied         Adult
16            Neutral or Dissatisfied         Adult
17            Neutral or Dissatisfied         Adult
18            Neutral or Dissatisfied         Young
19            Neutral or Dissatisfied         Adult
20            Neutral or Dissatisfied         Young
21            Neutral or Dissatisfied         Adult
22            Neutral or Dissatisfied         Adult
23            Neutral or Dissatisfied         Adult
24                                NaN         Adult
25                                NaN         Adult
26                                NaN         Adult
27                                NaN         Adult
28                                NaN         Adult
29                                NaN         Adult

[30 rows x 27 columns]